.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin: 0% 25%;
  height: auto;
  margin-top: 5%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

mat-label {
  font-size: 20px;
  color: white;
  font-style: bolder;
}

input {
  padding: 10px;
  background-color: transparent;
  color: gold;
}

/* mat-form-field {
  
    padding: 8px;
    width: 15%;
    border-radius: 15%;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%;
  } */

#CompanyName {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: gold;
}

#LoginHead {
  color: accent;
  font-family: monospace;
}

#login {
  margin-bottom: 6%;
  padding: 3px 20px;
}

h1 {
  color: white;
}

#regLink:hover{
  cursor: pointer;
  color: wheat;
}

.accountPrompt{
  text-align: center ;
}

/* for other screen sizes */

/* pixel 2 screen */
@media screen and (width:411px){
  #LoginHead {
    color: accent;
    font-family: monospace;
    font-size: 3rem;
  }
  .container{
    margin-top: 15%;
    margin-bottom: 10%;
  }
  
}

/* iphone 5/SE screen */
@media screen and ( width:320px){
  #LoginHead {
    font-size: 1.7rem;
  }
  #CompanyName {
    font-size: 2rem;
  }
}

/* iphone 6/7/8 */
@media screen and (width : 375px){
  #LoginHead {
    font-size: 2rem;
  }
  .loginPage{
    margin-top: 5%;
  }
}

/* iphone 6/7/8plus */
@media screen and (width : 414px){
  #LoginHead {
    font-size: 2.1rem;
  }
  .container{
    margin-top: 10%;
    margin-bottom: 10%;
  }
}

/*  iphoneX */
@media screen and (width : 375px){
  .container{
    margin-top: 20%;
    margin-bottom: 20%;
  }
}

/* ipad */
@media screen and (width : 768px){
  mat-label {
    font-size: 2rem;
  }
  #login {
    padding: 5px 30px;
  }
  #LoginHead {
    font-size: 2.3rem;
  }
  .container{
    margin-top: 15%;
    margin-bottom: 15%;
  }
  #CompanyName {
    font-size: 4rem;
  }
  .accountPrompt{
    font-size: 2rem;
  }
}

/* ipadPro */
@media screen and (width : 1024px){
  mat-label {
    font-size: 2.2rem;
  }
  #login {
    padding: 5px 50px;
    font-size: 20px;
  }
  #LoginHead {
    font-size: 3rem;
    padding-top: 2rem;
  }
  .container{
    margin-top: 15%;
    margin-bottom: 10%;
  }
  #CompanyName {
    font-size: 4rem;
  }
  .accountPrompt{
    font-size: 2.5rem;
  }
}