<div class = "container-fluid">
    <div class="row bg-info">
        <div class="col-sm-4">Liachat</div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
                ​<div class="dropdown">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                          Register As
                        </button>
                        <div class="dropdown-menu" >
                          <a class="dropdown-item" [routerLink] = "['/register']"
                          *ngFor = "let category of userCategory" (click) = "onClickCategory($event)">
                              {{category}}</a>
                        </div>
                </div>
                <!-- <app-registration [userCategory] = "selectedCategory"></app-registration>  -->
        </div>
    </div>
</div>
