<div class = "container-fluid">
    <div class="row bg-info">
        <div class="col-sm-4">
            Liachat
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Create New Account
                </button>
                <select (click) = "giveCategory($event)">
                    <option *ngFor = "let Category of category" value = "{{Category}}">
                        {{Category}}
                    </option>
                </select>
                        <app-registration [formCategory] = "selectedCategory"></app-registration>
                </div>
            </div>
        </div>
    </div>
