<div class="container bg-white form-container">
  <div class = "row">
    <div class="col-sm-12">
        <h4 class = "text-center text-capitalize">SignUp as a {{ userCategory }}</h4>
    </div>
  </div>
  <hr>
  <div class = "row">
    <div class = "col-sm-3"></div>
    <div class = "col-sm-6">
        <form [formGroup] = "signupForm" (ngSubmit) = "onSubmit()" class = "text-center register-form">
            <label class = "text-capitalize">username<span class = "text-danger">*</span></label><br>
            <input 
            type = "text" 
            placeholder="username"
            formControlName = "username" required class = "form-control" 
            [class.is-invalid] = "signupForm.get('username').invalid && signupForm.get('username').touched">
            <div *ngIf = "signupForm.get('username').invalid && signupForm.get('username').touched">
                <small *ngIf = "signupForm.get('username').errors?.required">Username is required</small>
                <small *ngIf = "signupForm.get('username').errors?.minlength">
                  Username must be at least 5 characters
                </small>
            </div>
            <label>Password<span class = "text-danger">*</span></label><br>
            <input 
            type = "password" 
            placeholder="password" 
            formControlName = "password" class = "form-control"><br>
            <label>Confirm Password<span class = "text-danger">*</span></label><br>
            <input 
            type = "password" 
            placeholder="password" 
            formControlName = "Kpassword" class = "form-control"><br>
            <small *ngIf = "signupForm.get('password') != signupForm.get('Kpassword')">
              Passwords do not match</small><br>
            <label>Contact</label><br>
            <input 
            type = "number" 
            placeholder="phone" 
            formControlName = "phone" class = "form-control"><br>
            <label>Email</label><br>
            <input
            name = ""
            type = "text" 
            placeholder="email" 
            formControlName = "email" class="form-control"><br>
            <span class="help-block" *ngIf = "">Email is not valid</span>
            <div *ngIf = "formCategory == student">
              <label>Academic Level<span class = "text-danger">*</span></label><br>
                <select class = "form-control" formControlName = "academicLevel">
                  <option value = "Form 5">Form 5</option>
                  <option value = "UpperSixth">UpperSixth</option>
                  <option value = "LowerSixth">LowerSixth</option>
                  <option value = "200">200</option>
                  <option value = "300">300</option>
                </select><br>
            </div>
            <div *ngIf = "formCategory == businessman">
                <label>Business Category<span class = "text-danger">*</span></label>
                <select class = "form-control" formControlName = "businessCategory">
                  <option value = "small">Small</option>
                  <option value = "medium">Medium</option>
                  <option value = "large">Large</option>
                </select>
            </div>
            
            <div *ngIf = "formCategory == developer">
                <label>Development Field<span class = "text-danger">*</span></label>
                <select class = "form-control" formControlName = "developmentField">
                  <option value = "Front-End">Front-End</option>
                  <option value = "Back-End">Back-End</option>
                  <option value = "Full Stack">Full Stack</option>
                  <option value = "Mobile App">Mobile App</option>
                  <option value = "Web">Web</option>
                </select>
            </div>
            <button class = "btn btn-secondary form-control">register</button>
          </form>
    </div>
    <div class = "col-sm-3">

    </div>
  </div>
  
</div>